@font-face {
    font-family: DrowsyFont;
    src: url(Satoshi-Variable.ttf);
}
.material-symbols-outlined{
    background-color: #242320;
    color: #B7B2A7;
    padding: 2px;
    border-radius: 5px;
}
body{
    margin: 0;
    width: 100%;
    color: #242320;
    font-family: DrowsyFont, sans-serif;
    background-color: #B7B2A7;
}
main{
    margin: 20px;
}
.login-page {
    margin: 0;
    width: 100%;
}
.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    align-items: center;
}
.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40%;
    background-color: #242320;
}
.Logo img { 
    max-width: 50%;
    max-height: 50%;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 60%;
    background-color: #B7B2A7;
} 
.login-form-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form-actions label {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #242320;
    font-weight: bold;
    text-align: left;
    width: 100%;
}
.login-form-actions input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    border: none;
    background-color: #242320;
    color: #B7B2A7;
    border-radius: 5px;
    outline: none;
}
.login-form-actions button {
    padding: 10px;
    font-size: 1.2em;
    width: 80%;
    border: none;
    cursor: pointer;
    background-color: #242320;
    color: #B7B2A7;
    border-radius: 5px;
    outline: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #242320;
    color: #B7B2A7;
}
nav img {
    max-width: 10%;
    max-height: 10%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 20px;
}
nav ul li a {
    text-decoration: none;
    color: #B7B2A7;
    font-weight: bold;
    font-size: 1.2em;
}



.roster-content button {
    padding: 2px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background-color: #242320;
    color: #B7B2A7;
    border-radius: 5px;
    outline: none;
}

.roster-content table input[type="checkbox"] {
    transform: scale(1.5);
    margin-right: 10px;
    background-color: #242320;

-webkit-appearance: none;
  appearance: none;

}   



table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #242320;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #242320;
    color: #B7B2A7;
    text-align: center;
}













#addUserPopup,
#editUserPopup,
#promoteUserPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    height : 420px;
    width : 400px;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background-color: #B7B2A7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.roster-stats {
    display: flex;
    justify-content: start;
    flex-direction: row;
    /* gap: 10%; */
    margin-top: 20px;
}
.roster-stats div {
    background-color: #242320;
    color: #B7B2A7;
    border-radius: 5px;
    font-size: 1.2em;
    width: 15%;
    height: 10%;
    text-align: center;
    margin-right: 20px;
}













.footer {
    margin-top: 20px;
    text-align: center;
    color: #242320;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    width: 60%;
}